[submodule "src/USTintranet/static/lobibox"]
	path = src/USTintranet/static/lobibox
	url = git@github.com:arboshiki/lobibox.git
[submodule "src/USTintranet/static/jquery"]
	path = src/USTintranet/static/jquery
	url = git://github.com/jquery/jquery.git
[submodule "src/USTintranet/static/select2"]
	path = src/USTintranet/static/select2
	url = git@github.com:select2/select2.git
[submodule "src/USTintranet/static/tabulator"]
	path = src/USTintranet/static/tabulator
	url = git@github.com:olifolkerd/tabulator.git
[submodule "src/USTintranet/static/material-design-icons"]
	path = src/USTintranet/static/material-design-icons
	url = http://github.com/google/material-design-icons/
