{% extends "../base.hbs" %}
{% block title %}UST intranet | Home{%end%}
{% block body %}


    <div class="container-fluid" style="background: red;">
        <div class="row">
            <div class="col-4">
                t
            </div>
            <div class="col-8">
            </div>

        </div>
    </div>



{% end %}
