{% extends "base.hbs" %}
{% block title %}| TME catalog{%end%}
{% block body %}


<script type="text/javascript">
	var product_json;		// promena, ktera slouzi pro upravu JSONu polozky... Pozor! je globalni.
	var current_page = [];
	var selected = [];
	var current_detail = 0 // aktualne zobrazeny produkt
</script>

<style type="text/css">

	body{
		overflow: auto;
	}

</style>


<div>
	IP: <input type="text" id="ip_addr" value="ws://192.168.1.100:8887"><br>
	<button onclick="init()" >Connect</button>
	<button onclick="doSend('UseMe')">Login</button>


	<div style="min-height: 20em; min-width: 50em; background-color: lightblue" id="history">
		
	</div>

</div>

<script type="text/javascript">
var ws = null;
var wsUri = "ws://192.168.1.128:8887";
var output;

  function init()
  {
    output = document.getElementById("history");
    testWebSocket();
  }

  function testWebSocket()
  {
    websocket = new WebSocket(wsUri);
    websocket.onopen = function(evt) { onOpen(evt) };
    websocket.onclose = function(evt) { onClose(evt) };
    websocket.onmessage = function(evt) { onMessage(evt) };
    websocket.onerror = function(evt) { onError(evt) };
  }

  function onOpen(evt)
  {
    writeToScreen("CONNECTED");
    doSend("WebSocket rocks");
  }

  function onClose(evt)
  {
    writeToScreen("DISCONNECTED");
  }

  function onMessage(evt)
  {
    writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data+'</span>');
    websocket.close();
  }

  function onError(evt)
  {
    writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
  }

  function doSend(message)
  {
    writeToScreen("SENT: " + message);
    websocket.send(message);
  }

  function writeToScreen(message)
  {
    var pre = document.createElement("p");
    pre.style.wordWrap = "break-word";
    pre.innerHTML = message;
    output.appendChild(pre);
  }

  window.addEventListener("connect", init, false);

  </script>

</script>

{% end %}{# block body#}
