{% extends "base.hbs" %}
{% block title %} UST intranet | Adresář{%end%}
{% block body %}

<style media="screen">
  .cart-row{
    border: #bbb solid 1px;
    margin: 3pt;
  }

  .cart-row-header{
    background-color: #ddd;
  }

  .row-selected{
    background-color: #afa;
  }

  .chr-header-cell{

  }

  .header-cell{
    width: 20%;
    max-width: 20%;
    margin-left: 10pt;
  }
  .header-tag{
    color: gray;
    font-weight: lighter;
  }

  .header-value{

  }
</style>

<div class="row">
  <div class="col-4" style="background: red;">
  <div class="bg-warning">
      Tady se v pravě části dá kliknout na tlačítko vybrat a následně lze s tímto košíkem používat různé operace. (Např ze skladu). Informace o košíku se zobrazi az po přenačtení stránky.
  </div>
    {{carts}}
    <hr>
    {{handler_cart}}
  </div>

  <div class="col-8">
    <div>
      {% try %}
        {% set ctype = None %}
        {% set ctype = handler_cart.get('type', '') %}
        {% module Template('carts.template.edit.{}.hbs'.format(handler_cart.get('type', 'none')), data= handler_cart) %}
      {% except Exception as e%}
        Modul pro typ '{{ctype}}' není dostupný.
        {{e}}
      {% end %}
    </div>

    <div class="card form-group">
      <div class="card-header">
          Nový seznam
      </div>
        <input type="text" id="newCart_name">
        <select class="form-control" id="newCart_type">
          <option value="list">Tisk štítků</option>
          <option value="bom">bom</option>
          <option value="buy">Nákup (do skladu)</option>
          <option value="sell">Prodej</option>
        </select>
        <button onclick="new_cart()">Save</button>
    </div>

    {% for row in carts %}
      {% module Template('carts.template.row.hbs', data=row, current = handler_cart) %}
    {% end %}
  </div>
</div>








<script type="text/javascript">
  
  function new_cart(){
  $.ajax({
        type: "POST",
        url: "/cart/api/new_cart",
        data: {
            'name': $("#newCart_name")[0].value,
            'type': $("#newCart_type")[0].value
        },
        success: function( data, textStatus, jQxhr ){
          
        },
        error: function(data, status){
          alert("Polozka nebyla pridata");
        }
    });

  }

</script>




{% end %}{# block body#}
