{% extends "base.hbs" %}
{% block title %} UST intranet | Adresář{%end%}
{% block body %}

<style media="screen">
  .chart-row{
    border: #bbb solid 1px;
    margin: 3pt;
  }

  .chart-row-header{
    background-color: #ddd;
  }

  .chr-header-cell{

  }

  .header-cell{
    width: 20%;
    max-width: 20%;
    margin-left: 10pt;
  }
  .header-tag{
    color: gray;
    font-weight: lighter;
  }

  .header-value{

  }
</style>

<div class="row">
  <div class="col-4" style=" background: red;">
    {{charts}}
  </div>

  <div class="col-8">

    {% for row in charts %}
      {% module Template('charts.template.row.hbt', data=row) %}
    {% end %}
  </div>
</div>

{% end %}{# block body#}
