{% extends "base.hbs" %}
{% block title %}UST intranet | Home{%end%}
{% block body %}
{% set permis = parent.is_authorized(['sudo-invoice', 'sudo', 'invoice', 'invoice-admin']) %}

<!-- <script type="text/javascript"  src="/static/store.js" charset="utf-8"></script> -->
<script type="text/javascript">
  
 var elements = [];

</script>


<div class="container-fluid" id="wrapper"><div class="row">


  <div class="col-md-3 col-sm-12 col-12 bg-faded sidebar">
    <div id="invoice_list">
      
    </div>
  </div> <!-- Konec levého sloupce, Pravy sloupec -->
  <div class="col-md-9 col-sm-12 offset-sm-0 pt-3">


    <div class="card">
      ID
      <input type="text" name="" id="invoice_id" disabled>
      Typ
      <select class="select2" id="invoice_direction">
        <option value="1" selected>Příchozí</option>
        <option value="0">Odchozí</option>
      </select>
      Číslo faktury
      <input type="text" name="" id="invoice_number">
      Datum vytvoření
      <input type="date" name="" id="invoice_created">
      Datum splatnosti
      <input type="date" name="" id="invoice_duedate">
      Zaplaceno
      <input type="checkbox" id="invoice_payed">
      Prodejce/zákazník
      <select class="select2" id="invoice_partner">
          <option>TME</option>
          <option>SOS</option>
          <option>Mouser</option>
          <option>Farnell</option>
          <option>GME</option>
          <option>GES</option>
          <option>ebay</option>
          <option>ECOM</option>
          <option>SUNNY</option>
          <option>VPCentrum</option>
      </select>
    </div>

    <div class="card">
      <div>
        <table class="table ">
          <thead>
            <tr>
              <th>#</th>
              <th>Typ</th>
              <th>Název</th>
              <th>Symbol prodejce</th>
              <th>Cena</th>
              <th>Počet</th>
              <th>Cena celkem</th>
              <th>Operace</th>
            </tr>
            <tr>
              <th class="p-0"><input class="form-control form-control-sm" type="number" id="new_current_row" disabled style="width: 4em;"></th>
              <th class="p-0"><select class="select2 form-control form-control-sm" id="new_type"><option selected value="stock">Sklad</option><option value="service">Služba</option></select></th>
              <th class="p-0" style="min-width: 10em;"><select class="select2 form-control form-control-sm" id="new_id"></select></th>
              <th class="p-0" style="min-width: 10em;"><select class="select2 form-control form-control-sm" id="new_external_id"></select></th>
              <th class="p-0"><input class="form-control form-control-sm" type="number" id="new_unitprice" name=""></th>
              <th class="p-0"><input class="form-control form-control-sm" type="number" id="new_count" name=""></th>
              <th class="p-0"><input class="form-control form-control-sm" type="number" id="new_price" name=""></th>
              <th class="p-0"><button>+</button></th>
            </tr>
          </thead>
          <tbody id="new_table_placement"></tbody>
        </table>

      </div>

    </div>

  </div>

</div></div>
<script type="text/javascript">
  $(document).ready(function(){
    load_invoices_list();
    prepare_invoice_new_form();
  })


  function load_invoices_list() {
      $.ajax({
        type: "POST",
        url: "/invoice_import/get_invoices/",
        data: {
            'out': 'html'
        },
        success: function(data, textStatus, jQxhr){
          console.log(data);
          $('#invoice_list').html(data);
        },
        error: function(jqXhr, textStatus, errorThrown){
          console.log(errorThrown);
        }
    });
  }


  function prepare_invoice_new_form(){
    $(".select2").select2(
    {
      width: '100%',
    });

    $('#new_id').select2({
        width: '100%',
        ajax: {
          url: '/store/api/search/',
          type: "POST",
          dataType: 'json',
          processResults: function (data) {
              console.log(data)
              return {
                  results: $.map(data, function (item) {
                      console.log(item);
                      return {
                          text: item['name']+" ("+item['_id']+")",
                          id: item['_id']
                      }
                  })
              };
          }
        }
      }
    )
  }

  function draw_invoice_table(){
    $('#new_table_placement').empty()
    for (i in elements){
      var element = elements[i];
      console.log(element);

      var data = "<tr>"
      data += "<td>" + i +"</td>"
      data += "<td>"+''+"</td>"
      data += "<td>"+ element['_id'] +"</td>"
      data += "<td></td>"
      data += "<td></td>"
      data += "<td></td>"
      data += "<td></td>"
      data += "<td><button>edit</button><button>del</button><button>up</button><button>down</button></td>"
      data += "</tr>"

      $("#new_table_placement").append(data);
    }

  }

  function load_invoice(id){
    console.log("loading", id);
      $.ajax({
        type: "POST",
        url: "/invoice_import/get_invoice/",
        data: {
            'out': 'json',
            'id': id
        },
        success: function(data, textStatus, jQxhr){
            data = JSON.parse(data);
            $("#invoice_id").val(id);
            $("#invoice_direction").val(data['direction'] || 1);
            $("#invoice_number").val(data['invoice_id'] || '');
            $("#invoice_created").value = data['created'] || '2018-00-00';

            elements = data.elements;
            draw_invoice_table();
        },
        error: function(jqXhr, textStatus, errorThrown){
          console.log(errorThrown);
        }
    });
  }


</script>{% end %}
