{% extends "base.hbs" %}
{% block title %} UST intranet | Produkce, uvod{% end %}
{% block body %}


<div class="container">
<div>
	<div class="row">
		<div class="col-12">
			<div id="production-list-table"></div>
		</div>
		<div class="col-6">
			
		</div>
	</div>
</div>

<a href="/production/new/edit/" class="btn btn-sm btn-primary">Nový produkt</a>
</div>

<script type="text/javascript">

function loadProductionTable() {
	var table = new Tabulator("#production-list-table", {
		width: '100%',
		columns:[
	        {title:"ID", field:"id", width:100},
	        {title:"Name", field:"name", sorter:"string"},
	        {title:"Autor", field:"author_text", sorter:"string"},
	        {title:"Components", field:"components", sorter:"number", align:"right", width:100},
	        {title:"Created", field:"created", sorter:"date", align:"center"},
	        //{title:"status", field:"status", sorter:"string", align:"center"},
	    ],
	    rowClick:function(e, row){
	    	var event_id = row._row.cells[0].value
	    	stocktakingLoadEvent(event_id);
	    },
	    rowDblClick:function(e, row){
	    	var event_id = row._row.cells[0].value
	    	window.location.href = "/production/"+event_id+"/edit/";
	    },
	    ajaxURL:"/production/api/getProductionList",
	    ajaxConfig:{
	        method:"POST",
	        headers: {
	            "Content-type": 'application/json; charset=utf-8',
	        },
	    }
	});
}


loadProductionTable();

</script>

{% end %}