{% extends "base.hbs" %}
{% block title %} UST intranet | Produkce, uvod{% end %}
{% block body %}
<script type="text/javascript">
    item = null;
    current_page = [];
    list_page = 0;
</script>

<style type="text/css">

    .product_list_element {
        margin: 0pt;
        margin-top: 10pt;
        padding: 5pt;
    }

    .product_list_element_table{
        width: 100%;
        background: white;
        border: #aaa solid 1pt;
        padding: 5pt;
        margin: 0pt;
        display: inline-flex;
    }

    .table_input{
        width: 8em;
        border: #ccc solid thin;
        background: #fafafa;
    }


  .cat_top{
    flex: 0 0 auto;
    width: 150pt;
  }

  #filter_block{
    /* display: flex; */
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0pt;
  }

.form-tab-td{
  padding: 0px;
}


</style>

<script type = "text/javascript">
   function WebSocketBarcode() {
      if ("WebSocket" in window) {
         var ws = new WebSocket("ws://localhost:8765/ws");
         ws.onopen = function() {
            console.log("opened...")
         };

         ws.onmessage = function (evt) {
           console.log(evt);
            var received_msg = evt.data;
            var obj = JSON.parse(evt.data);
            $('#sku_search').val(obj.code);
            $('#sku_search').trigger('change');
         };

         ws.onclose = function() {
            alert("Barcode reader is disconected....");
         };
      } else {
         alert("WebSocket NOT supported by your Browser!");
      }
   }

   WebSocketBarcode();
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-12 col-lg-5">
            <div class="card">
                <div class="card-body row">
                    {% if stocktaking %}
                    <div class="form-group row col pl-5 bg-success">
                      Právě je otevřena inventura <code>{{stocktaking['name']}}</code>. 
                    </div>
                    {% else %}
                    <div class="form-group row col pl-5 bg-danger text-white">
                      Není odemčená žádná kampaň inventury. Inventuru nelze nyní provádět. O její otevření požádejte správce inventur.
                    </div>
                    {% end %}

                    <div class="form-group row col-lg-12 col-md-6">
                        <label class="col-sm-2 col-form-label">SKU</label>
                        <div class="col-sm-10"><input class="form-control" type="text" id="sku_search"></div>
                    </div>
                    <div class="form-group row col-lg-12 col-md-6">
                        <label class="col-sm-2 col-form-label">_ID</label>
                        <div class="col-sm-10"><input class="form-control" type="text" id="id_val" disabled></div>
                    </div>
                    <div class="form-group row col-lg-12 col-md-6">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10"><input class="form-control" type="text" id="all_search" disabled></div>
                    </div>
                    <div>

                    </div>
                    <div id="next_operation" class=" display-5 text-muted col-md-6">
                        Načtěte další kód...
                    </div>
                    <div class="row col-lg-12 col-md-6">
                        <div class="col text-center align-middle display-4 shadow"><span id="val_old">000.00</span> ks</div>
                    </div>

                    <div class="row col-lg-12 col-md-6">
                        <div class="col" id='message'></div>
                    </div>
                    <div class="form-group col-lg-12 col-md-6">
                        <label>Nový počet kusů</label>
                        <input class="form-control form-control-lg" type="number" name="count" id="new_count" autofocus>
                    </div>
                    <div class="row col-lg-12 col-md-6">
                        <div class="col text-center align-middle display-4" id="holder_percent"><span id="val_percent">---</span>%</div>
                        <div class="col text-center align-middle display-4" id="holder_delta"><span id="val_delta">+----</span>ks</div>
                    </div>

                    <div class="form-group col-lg-12 col-md-6">
                        <label>Poznámka</label>
                        <input class="form-control form-control-lg" type="text" name="count" id="note" autofocus>
                    </div>

                    <div class="form-group col-lg-12 col-md-6">
                        <label>Pozice</label>
                        <input class="form-control form-control-lg" type="text" name="count" id="positions" disabled>
                    </div>

                    {% if stocktaking %}
                    <div class="row form-group col-lg-12 col-md-6">
                        <button id="btn_send" class="col-6 btn btn-success form-control" disabled>Inventurovat</button>
                    </div>
                    {% end %}

                </div>
            </div>
        </div>

        <div class="col-6 col-md-6 col-lg-7">
            <div class="card">
                <div class="card-body row">
                    
                    <div class="form-group row col-lg-12 col-md-6">
                      <label class="col-sm-2 col-form-label">Pozice</label>
                      <div class="col-sm-10"><select class="form-control" id="position_select">
                        {%for place in places %} <option value="{{place['_id']}}">{{place['name']}} | {{place['text']}}</option>{%end%}
                      </select></div>
                    </div>

                    <div class="form-group row col-lg-12 col-md-6">
                      <label class="col-sm-2 col-form-label">Automaticky přidat</label>
                      <div class="col-sm-10"><input class="form-control" type="checkbox" id="position_add"></div>
                    </div>

              </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-7">

            <div class="list-group" id="stocktaking_history">
            </div>
        </div>
    </div>

    <a href="/stocktaking/view/categories" class="btn btn-outline-primary">Přehled skladu podle kategorií</a>
    <a href="/stocktaking/events" class="btn btn-outline-primary">Úprava inventur</a>
    <div class="bg-danger">
    </div>
</div>


<script type="text/javascript">
    $("#sku_search").on("change", function(){
        clear_form();
        $.ajax({
          type: "POST",
          url: "/stocktaking/get_item/",
          data: {
            '_id': $('#sku_search').val(),
            'stocktaking_position': $('#position_select').val(),
            'add_position': $('#position_add').is(':checked'),
          },
          success: function( data, textStatus, jQxhr ){
            var first_time = true;
            if(data.item != null){
                item = data;
                item['count'] = 0;
                $("#next_operation").text(data.item.name);
                console.log("item", data.item);
                $("#id_val").val(data.item._id.$oid);
                $("#all_search").val(data.item.name);
                $("#val_old").empty();
                // for (row in data.history){
                //     console.log(row);
                //     //$("#val_old").append(" + "+data.history[row].bilance);
                //     item.count += data.history[row].bilance;
                // }

        // Zjisti, jestli uz to bylo inventurovane
                for (rec_i in data.item.history){
                  var rec = data.item.history[rec_i];
                  if (rec.operation == 'inventory'){
                    console.log("inventura", rec);
                    console.log(data);
                    if (rec.inventory.$oid == data.inventory._id.$oid && rec.stock.$oid == data.warehouse._id.$oid){
                      first_time = false;
                    } 
                  }
                }

                if (first_time == true){
                  Lobibox.notify('success', {
                      title: 'Načteno úšpěšně',
                      //msg: 'U položky <b>'+$('#sku_search').val()+'</b> inventura již problěhla.',
                      delay: 1000
                  });
                }else{
                  $("#message").addClass('bg-warning');
                  $("#message").text("Inventura této položky již problěhla...");
                  Lobibox.notify('warning', {
                      title: 'Tato položka již byla inventurovaná..',
                      msg: 'U položky <b>'+$('#sku_search').val()+'</b> inventura již problěhla.',
                      delay: 3000
                  });
                }
                
                // Vytvoreni seznamu aktualnich pozic
                var pos_text = "";
                for (var i = 0; i < data.position.length; i++) {
                    var pos = data.position[i];
                    console.log(">", pos.info[0]);
                    if (i>0) {
                      pos_text += ', ';
                    }
                    pos_text += pos.info[0].name;
                }
                $('#positions').val(pos_text);

                try{
                  $("#val_old").text(data.item.overview.stocks[data.warehouse._id.$oid].count.onstock);
                }catch(e){
                  $("#val_old").text(0);
                }
                $("#new_count").focus();

            }else{
                // pokud soucastka neni nalezena
                clear_form()
                $("#next_operation").text("Polozka nenalezena...");
            }
            console.log(data);
          },
          error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
          }
        });
    });


    function after_count_edit(){
        try{
          var old_val = item.item.overview.stocks[item.warehouse._id.$oid].count.onstock || 0;
        }catch(e){
          var old_val = 0;
        }
        if ($("#new_count").val() == ""){
            $("#new_count").val(old_val);
        }
        //$("#val_percent").text(item.count / $("#new_count").val());
        $("#val_delta").text($("#new_count").val() - old_val);
        $("#btn_send").prop('disabled', false);
        $("#btn_send").focus();
    }

    $('#new_count').on('keypress', (event)=> {
        if(event.which === 13){after_count_edit();}
    });

    $("#new_count").on("change", function(){
        after_count_edit();
    });


    // ulozit data o inventure...
    $("#btn_send").on("click", function(){
        $("#btn_send").prop('disabled', true);
        $("#sku_search").focus();

        try{
          var old_val = item.item.overview.stocks[item.warehouse._id.$oid].count.onstock || 0;
        }catch(e){
          var old_val = 0;
        }

        $.ajax({
          type: "POST",
          url: "/stocktaking/save_item/",
          data: {
            '_id': $('#id_val').val(),
            'description': $('#note').val(),
            'bilance': $("#new_count").val() - old_val,
            'absolute': $("#new_count").val()
          },
          success: function( data, textStatus, jQxhr ){
            console.log(data);
            Lobibox.notify('success', {
                title: 'Provedeno',
                msg: 'U součástky <b>'+$('#sku_search').val()+'</b> byla provedena inventura <b>' + $("#new_count").val() +' ks</b>.',
                delay: 3000
            });
            add_history($("#sku_search").val(), $("#new_count").val(), 'success');
            $("#sku_search").val("");
            },
          error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
            Lobibox.notify('error', {
                title: 'Nebylo možné provést úpravu položky',
                msg: 'U položky <b>'+$('#sku_search').val()+'</b> nastal neznámý problém. Zkontrolujte log.',
                delay: 3000
            });
            add_history($("#sku_search").val(), $("#new_count").val(), 'danger');
            $("#sku_search").val("");
          }
        });
    });

    function clear_form(){
        item = null;
        $("#val_old").text("---.--");
        $("#next_operation").text("Načtěte další kód...");
        $("#new_count").val(null);
        $('#id_val').val();
        $('#all_search').val();
        //$("#btn_accept").prop('disabled', false);
        $("#btn_send").prop('disabled', true);
        $("#sku_search").focus();
        $('#message').removeClass('bg-warning')
        $('#message').empty();
        //$("#message").
    }
    clear_form();
</script>

<script type="text/javascript">
  
  $('#position_select').select2({
  
  });

</script>



<template id="products-template_table">
    <div class="product_list_element product_list_element_table">

        <span class="product_list-name" style="font-size: 1.2em font-weight: 300; width: 30em;"></span>
        <small style="width: 30em;"><span class="category_name"></span></small>
        <span style="width: calc(100%);">
            <span class="product_list-description" style=""></span>
            <span style="" class="stock_holder"></span>
        </span>
    </div>
</template>

<script type="text/javascript">

    function update_view() {
        console.log(current_page);

        $('.product_list_loading').show();
        $('.page_select_btn').hide();
        $('#product_list').empty();
        for (var i = 0; i < current_page.length; i++) {
            var element = current_page[i];
            //active_categories()
            var tmpl = document.getElementById('products-template_table').content.cloneNode(true);
            tmpl.querySelector('.product_list_element').classList.add('row_of_'+element['_id'].replace(/[\|&;\$%@"<>\(\)\+/, -.]/g, ""));
            tmpl.querySelector('.product_list-name').innerHTML = "<b>"+element['name'] + "</b> <small>"+ element['_id']+"</small>";
            //tmpl.querySelector('.product_list-select').value = element['_id'];
            tmpl.querySelector('.product_list-description').innerText = element['description'];

            try{tmpl.querySelector('.category_name').innerText = element['category'][0]['name'];}
            catch(err){ tmpl.querySelector('.category_name').innerText = "err";}

            var name = ""+element['_id']+"";
            tmpl.querySelector('.product_list_element').setAttribute('onclick', 'load_product("'+element['_id']+'")');
            tmpl.querySelector('.product_list_element').setAttribute('ondblclick', 'OpenArticleEdit("'+element['_id']+'");');

            if (element.tags){
                for(tag in element.tags){
                    console.log(element.tags[tag]);
                    if (element.tags[tag].id == 'inventura2019'){
                        tmpl.querySelector('.product_list_element').style.backgroundColor = 'lightgreen';
                    } else {
                        tmpl.querySelector('.product_list_element').style.backgroundColor = 'orange';
                    }
            }}

            //if(current_detail == element['_id']){
            //    tmpl.querySelector('.product_list_element').style.backgroundColor = 'yellow';
            //}
            document.getElementById('product_list').appendChild(tmpl);
        }
        //console.log(selected);
        $('.product_list_loading').hide();
        $('.page_select_btn').show();
        $('.actual_list_page').html(list_page);


    }

    function update_list(){
        $('.product_list_loading').show();
        $('.page_select_btn').hide();
        $('#product_list').empty();
        $.ajax({
          type: "POST",
          url: "/store/api/products/",
          //contentType : 'application/json',
          data: {
                //'selected': active_categories(),
                'search': "",
                'polarity': true,
                'tag_polarity': true,
                'tag_search': "",
                'page': list_page
          },
          success: function( data, textStatus, jQxhr ){
              console.log('/products/', data, textStatus);
              current_page = data.data;
              //update_view();
          },
          error: function( jqXhr, textStatus, errorThrown ){
              console.log('ERR, /store/api/products/')
              console.log( errorThrown );
          }
        });
    }
    //update_list();



function add_history(name, count, status = null){
  console.log(name, count, status);
  
  switch(status){
    case 'success':
      var background = 'lightgreen';
      break;
    case 'success':
      var background = 'lightred';
      break;
    default:
      var background = 'white'
  }

  html  = " <div class='list-group-item d-flex justify-content-between align-items-center' style='background:"+background+"'> <div>"
  html += name + "</div><div>" + count + " ks </div></div>";

  $('#stocktaking_history').prepend(html);
}

</script>



{% end %}
