<div class="product_list_element product_list_element_table" style="font-size: 13px;">
	<span style="margin-left: 20pt; width: 8pt;"><input type="checkbox" class="product_list-select form-check-input" name="selected" value="" onchange="update_selected(this)"></span>
	<span style="min-width: 120px;">
		<img src="" style="width: 120px; height: 120px;">
	</span>
	<span class="product_list-name" style="font-size: 1.5em; font-weight: 400; width: 30em;"></span>
	<small style="width: 30em;"><span class="category_name"></span></small>
	<span style="width: calc(100%);">
		<span class="product_list-description" style=""></span>
		<span style="" class="stock_holder"></span>
	</span>
	<span style="width: 8.5em;"><input type="number" name="sklad_value" class="stock_count table_input"disabled=""></span>
</div>