<div class="list-group-item product_list_element product_list_element_table p-0 d-flex" style="font-size: 13px;">
	<span class="align-self-center" style="min-width: 120px;">
		<img src="" style="width: 120px; height: 120px;">
	</span>

	<div class=" flex-grow-1 p-1" style="flex-grow: 1;">
		<div class="d-flex" style="padding-left: 20px;">
			<input type="checkbox" class="product_list-select form-check-input" name="selected" onchange="update_selected(this)">
			<span class="product_list-name" style="font-size: 1.2em; font-weight: 400;"></span>

            <span class="mr-auto" style="font-size: 0.8em; font-weight: 300; min-width: 10em;"><i class="material-icons id_share">share</i></span>
			<span class="category_name ml-auto" style="font-size: 1.1em; font-weight: 400; min-width: 10em;"></span>
		</div>
		<div>
			<span class="product_list-description" style=""></span>
			<span class="stock_holder"></span>
		</div>
	</div>
	<div style=""><input type="number" name="sklad_value" class="stock_count table_input"disabled=""></div>
</div>
