Součastné počty:<br>
<ul>
{%for sklad in counts %} <li>{{sklad['_id']}}: {{sklad['count']}}{%end%}
</ul>

<div class="container">
	

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Počet ks</label>
		<input class="form-control table_style col-sm-10" type="number" id="compo_count" min="0" value="0">
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Cena (za ks)</label>
		<input class="form-control table_style col-sm-10" type="number" id="compo_price" step = 0.00001 value="0">
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Dodavatel</label>
		<select class="form-control table_style col-sm-10">
			{% for i, sup in enumerate(article.get('supplier',[])) %}
				<option value="i">{{sup}}</option>
			{% end %}
		</select>
	</div>
	<div class="form-group row .bg-danger">
		<label class="col-sm-2 col-form-label">Faktura </label>
		<select class="form-control table_style col-sm-10" distabled></select>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Poznámka </label>
		<input class="form-control table_style col-sm-10" type="text" id="compo_description" value="">
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Sklad </label>
		<select class="form-control table_style col-sm-10" id="compo_stock">
		   <option value="pha01">Praha (pha01)</option>
		   <option value="sob01">Soběslav (sob01)</option>
		</select>
	</div>
	<div class="form-group row">
		<button class="form-control table_style btn btn-primary col" onclick="compo_update_push()">Uložit</button>
	</div>
</div><hr>
<small class="tetx-muted">Veškeré operace jsou logovány a zpětně dohledatelné.</small>

<script type="text/javascript">
	var compo_counts = {% raw counts %};
	var compo_new_count = 0;

	function compo_update() {
		for(c in compo_counts){
			if(compo_counts[c]['_id'] === $('#compo_stock').val()){	
				compo_new_count = Number(compo_counts[c]['count']) + Number($("#compo_offset").val());
				break;
			}
		}
		$('#compo_new_count').text(compo_new_count);
	}

	function compo_update_push(){
	    $.ajax({
	      type: "POST",
	      url: "/store/operation/buy_push/",
	      data: {
	        'component': current_detail,
	        'stock': $("#compo_stock").val(),
	        'count': $("#compo_count").val(),
	        'price': $("#compo_price").val(),
	        'invoice': $("#compo_invoice").val(),
	        'description': $('#compo_description').val()
	      },
	      success: function( data, textStatus, jQxhr ){
	      	console.log(data);
	      	$('#modal_operation').modal('hide');
            Lobibox.notify('success', {msg: 'Polozka ulozena'});

	        $("#modal-operation-content").modal('hide');
        	$("#modal_oper_place").hide();

	      },
	      error: function( jqXhr, textStatus, errorThrown ){
	        console.log( errorThrown );
			Lobibox.notify('error', {msg: 'Polozka nebyla ulozena'});
	      }
	    });
	}

	$("#compo_offset").change(compo_update);
	$("#compo_stock").change(compo_update);
	compo_update();
</script>