{% extends "base.hbs" %}
{% block title %} UST intranet | Ověření emailu {%end%}
{% block body %}

<style type="text/css">

</style>

<p>Ověření se povedlo: {{success}}</p>

<script type="text/javascript">

</script>

{% end %}
