{% extends "base.hbs" %}
{% block title %} UST intranet | Adresář{%end%}
{% block body %}

<style type="text/css">
	
	td{
		padding: 2pt;
		padding-right: 5pt;
	}
	th{
		padding: 7pt;
		padding-bottom: 2pt;
		border-bottom: black solid 2pt;
		margin-bottom: 7pt;
		background-color: lightgrey;
	}
	table{
		width: 100%;
	}

</style>



<div class="container" style="background: blue">

tady bude nějaký seznam - 
</div>
<div class="container" style="">

{{me}}
<div class="card">
	<div class="card-header"> <h2>Můj profil</h2></div>
	<div class="card-content" id="place_user_edit">
		<div class="form-row">
			<div class="form-group col">
				<label>Username</label>
				<input class="form-control" type="text" disabled value="{{me.get('user', 'Err')}}">
			</div>
			<div class="form-group col">
				<label>Jméno</label>
				<input class="form-control" type="text" value="{{me.get('name', 'Err')}}>
			</div>
			<div class="form-group col">
				<label>E-mail</label>
				<input class="form-control" type="email" disabled>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col">
				<label>Oprávnění</label>
				<select class="form-control" id=""></select>
			</div>

		</div>
	</div>
</div>




<script type="text/javascript">
	
  $(document).ready(function(){
  });



</script>

{% end %}{# block body#}
