Součastné pozice ve skladech:<br>
<ul>
{%for current in counts %} <li>{{current['position'][0]['text']}} <small>({{current['count']}} ks)</small>{%end%}
</ul>

<div class="container">
	<div class="form-group row">
		<div class="col-sm-3">Počet <small>(relativní)</small></div>
		<input class="form-control col-sm-9 table_style" type="number" name="offset" id="compo_offset" value="0">
	</div>
	<div class="form-group row">
		<div class="col-sm-3">Sklad</div>
		<select class="form-control col-sm-9 table_style" id="compo_stock">
            {%for place in all_places %} <option value="{{place['_id']}}">{{place['text']}}</option>{%end%}
        </select>
	</div>
	<div class="form-group row">
		<div class="col-sm-3">Poznámka</div>
		<input class="form-control col-sm-9 table_style" type="text" name="" id="compo_description">
	</div>
	<div class="form-group row">
		Nový počet ve skladě je  <b><span id="compo_new_count"></span></b>.
	</div>
	<div class="form-group row">
		<button class="form-control btn btn-primary col" onclick="compo_update_push()">Použít</button>
	</div>
</div>
<hr>
<small class="text-muted">Veškeré operace jsou logovány a zpětně dohledatelné.</small>

<script type="text/javascript">
	var compo_counts = {% raw counts %};
	var compo_new_count = 0;

	function compo_update() {
		for(c in compo_counts){
			if(compo_counts[c]['_id'] === $('#compo_stock').val()){
				compo_new_count = Number(compo_counts[c]['count']) + Number($("#compo_offset").val());
				break;
			}
		}
		$('#compo_new_count').text(compo_new_count);
	}

	function compo_update_push(){
	    $.ajax({
	      type: "POST",
	      url: "/store/operation/service_push/",
	      data: {
	        'component': current_detail,
	        'stock': $("#compo_stock").val(),
	        'offset': $("#compo_offset").val(),
	        'description': $('#compo_description').val()
	      },
	      success: function( data, textStatus, jQxhr ){
	      	console.log(data);
	      	$('#modal_operation').modal('hide');
            Lobibox.notify('success', {msg: 'Polozka ulozena'});

	      },
	      error: function( jqXhr, textStatus, errorThrown ){
	        console.log( errorThrown );
	      }
	    });
	}

	$("#compo_offset").change(compo_update);
	$("#compo_stock").change(compo_update);
	compo_update();
</script>
