<div id="modal-edit-component"  class="modal hide fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editace součástky</h5>
        <span>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
          {% if permis %}Mam prava{%else%}NEmam prava{%end%}
	        {% if permis %}<button type="button mr-0" class="close" onclick="WriteToDb()">{%end%}
	          <span aria-hidden="true"><i class="material-icons">save</i></span>

	        </button>
	    </span>
      </div>

      <div class="modal-body">
            <div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label">ID</label>
              <div class="col-sm-9 input-group input-group-sm">
                <input type="text" class="form-control" id="inputID_edit" placeholder="ID soucastky">
                <div class="input-group-append">
			    	      <button class="btn btn-outline-secondary" type="button" onclick="component_detect('tme')">TME</button>
                          <button class="btn btn-outline-secondary material-icons">share</button>
			  	      </div>
                <div style="height: 43pt; padding: 0pt; margin-top: 1rem;" class="col-12 hide-on-new"><svg id="edit_barcode" preserveAspectRatio="none" style="width: 100%; height: 41pt;"></svg></div>
              </div>
            </div>
            <div class="form-group row mb-1">
              <label class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" id="inputNAME_edit" placeholder="Jméno">
              </div>
            </div>

            <div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label">Barcodes</label>
              <div class="input-group input-group-sm col-sm-9">
                <input type="text" class="form-control form-control-sm" id="inputBARCODE_edit">
              </div>
            </div>

            <div class="form-group row mb-1">
              <label class="col-sm-3 col-form-label" data-toggle="tooltip" title="Tato cena je určena jako základní pro samostatný prodej. Zaškrtávátko určuje, jestli tato položka je samostatně prodejná.">Cena (prodejní) <i class="material-icons">help</i></label>
              <div class="input-group input-group-sm col-sm-9">
              	<div class="input-group-prepend">
      				    <div class="input-group-text">
      				      <input class="form-control" id="inputSELLABLE_edit" type="checkbox" aria-label="Checkbox for following text input">
      				    </div>
				        </div>
                <input type="number" class="form-control" id="inputPRICEp_edit" placeholder="Cena (prodejní)" value="0" min="0" step="0.001">
                <div class="input-group-append">
                  <div class="input-group-text">Czk</div>
                </div>
              </div>
            </div>

            <div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label">Skladové zásoby</label>
              <div class="col-sm-9">
                  <div class="d-flex flex-row" id="inputSTOCK_list">
                  </div>
              </div>
            </div>


            <div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label" data-toggle="tooltip" title="Jsou zobrazeny pouze pozice z akutálního skladu. Barevně je vyznačena primární pozice. Pro zobrazení pozic z ostatních skladů použijte nástroj 'Nastení pozic'.">Pozice ve skladu <i class="material-icons">help</i></label>
              <div class="col-sm-9">
                  <div class="d-flex flex-row" id="inputPOSITION_list">
                  </div>
              </div>
            </div>

            <div class="form-group row mb-1">
              <label class="col-sm-3 col-form-label">Vyžadováno seriové číslo</label>
              <div class="col-sm-9">
                  <input type="checkbox"id="inputSNREQUIED_list">
              </div>
            </div>

            <div class="form-group row mb-1">
              <label class="col-sm-3 col-form-label">Popis</label>
              <div class="input-group col-sm-9">
                <textarea class="form-control" aria-label="With textarea" rows="5" id="inputDESCRIPTION_edit"></textarea>
              </div>
            </div>

            <div class="form-group row mb-1">
               <label class="col-sm-3 col-form-label" data-toggle="tooltip" title="Pokud nebude kategorie zadána, položka bude zařazena do 'Nezařazeno'.">Kategorie<i class="material-icons">help</i></label>
              <div class="input-group input-group-sm col-sm-9">
                <select class="form-control js-example-basic-multiple" name="states[]" multiple="multiple" id="inputCATEGORY_edit">
                {% for cat in category %}
                    <option value="{{cat['name']}}"><b>{{cat['name_cs']}}</b> - <small>{{cat['path']}}{{cat['name']}}</small></option>
                {% end %}
                </select>

              </div>
            </div>

            <div class="form-group row mb-1">
              <label class="col-sm-3 col-form-label">Tagy</label>
              <div class="input-group input-group-sm col-sm-9">
                <select id="inputTAG_edit" class="form-control" multiple="multiple" name="inputTAG_edit"></select>
              </div>
            </div>


            <div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label">Operace</label>
              <div class="input-group input-group-sm col-sm-9">
                <div id="selected_operations">
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Do košíku</button>
                        <div class="dropdown-menu form-group p-0 mb-1" aria-labelledby="btnGroupDrop1">
                          <input class="form-control" type="number" id="add_to_cart_count" min="0" value="0">
                          <button class="form-control btn btn-success" onclick="add_to_cart_count(null, '#add_to_cart_count')">Přidat</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="load_modal_operation('buy', '#modal_oper_place')">Nákup</button>
                    <button type="button" class="btn btn-primary bnt-disabled" disabled>Prodej</button>
                    <button type="button" class="btn btn-primary" onclick="load_modal_operation('service', '#modal_oper_place')">Servisní odběr</button>
                    <button type="button" class="btn btn-primary" onclick="load_modal_operation('move', '#modal_oper_place')">Přesun</button>
                </div>
                  <div class="btn-group btn-group-justified mt-1">
                    <button type="button" class="btn btn-primary" onclick="load_modal_operation('setposition', '#modal_oper_place')">Skladové pozice</button>
                    <button type="button" class="btn btn-primary" onclick="load_modal_operation('supplier', '#modal_oper_place')">Dodavatelé</button>
                </div>
                </div>

              </div>
            </div>

            <div class="row card card-body hide-on-new" id="modal_oper_place" style="margin-left: auto; margin-right: auto; display: none;">
            </div>


            <div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label">Parametry</label>
              <div class="col-sm-9">
                  <div class="card m-0">
                  	<div>
                  		<select class="select-component-parameters" id="select-component-parameters-edit"></select>
                  		<input type="text" name="" id="value-component-parameters-edit">
                  		<button class="btn btn-success" id="btn-component-parameters-add" onclick="add_parameter()">+</button>
                  	</div>
                  	<div id="edit-parameters-table">
                  	</div>

                  </div>
              </div>
            </div>

            <div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label">Dodavatelé</label>
              <div class="col-sm-9">
              	  <div class="card m-0">
				    <div style="display:none;" aria-labelledby="headingOne" data-parent="#accordion">
     					<div class="card-body">
     						#<input class="form-control" id="new_supplier_id" type="number" name="" min=1 value=1 disabled>
     						Dodavatel <select class="form-control" id="new_supplier_name"></select>
		              	  	<input type='hidden' id='' style='width:300px'/>
		              	  	Symbol, objednací číslo:<input class="form-control" id="new_supplier_symbol" type="text" name="">
		              	  	Kód:<input class="form-control" id="new_supplier_code" type="text" name="">
		              	  	URL:<input class="form-control" id="new_supplier_url" type="text" name="">
		              	  	<button onclick="add_supplier()">Použít</button>
		              	</div>
		              </div>
              	  </div>
                  <div class="" id="inputSUPPLIER_list">

                  </div>
              </div>
            </div>
            {% if permis %}<div class="form-group row mb-1 hide-on-new">
              <label class="col-sm-3 col-form-label">Historie operací</label>
              <div class="col-sm-9">
                  <div class="" id="inputHISTORY_edit" style="max-height: 60vh; overflow-y: auto;"></div>
              </div>
            </div>{%end%}

      </div>
      <div class="modal-footer">

        {% if permis %}<button type="button" class="btn btn-primary" onclick="WriteToDb(close = false)">Save</button>
        <button type="button" class="btn btn-primary" onclick="WriteToDb()">Save and close</button>{%end%}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
