<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-octoparts-tab" data-bs-toggle="tab" data-bs-target="#nav-octoparts" type="button" role="tab" aria-controls="nav-octoparts" aria-selected="true">Octoparts</button>
    <button class="nav-link" id="nav-tme-tab" data-bs-toggle="tab" data-bs-target="#nav-tme" type="button" role="tab" aria-controls="nav-tme" aria-selected="false">TME</button>
    <button class="nav-link" id="nav-mouser-tab" data-bs-toggle="tab" data-bs-target="#nav-mouser" type="button" role="tab" aria-controls="nav-mouser" aria-selected="false">Mouser</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-octoparts" role="tabpanel" aria-labelledby="nav-octoparts-tab">Octoparts
  </div>
  <div class="tab-pane fade" id="nav-tme" role="tabpanel" aria-labelledby="nav-tme-tab">

  TME
  	<input type="text" name="load_parameters_tme_symbol">


  </div>
  <div class="tab-pane fade" id="nav-mouser" role="tabpanel" aria-labelledby="nav-mouser-tab">Mouser</div>
</div>
