{% extends "../base.hbs" %}
{% block title %}UST intranet | Home{%end%}
{% block body %}
{% set permis = parent.is_authorized(['sudo-stock', 'sudo', 'stock', 'stock-admin']) %}

<script type="text/javascript"  src="/static/store.js" charset="utf-8"></script>
<script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" charset="utf-8"></script>

<script type="text/javascript">
	var product_json;		// promena, ktera slouzi pro upravu JSONu polozky.. je globalni.
  {% if permis %}var permis = 1; {%else%}var permis = 0; {%end%}
	var current_page = [];
	var selected = [];
	var current_detail = 0; // aktualne zobrazeny produkt
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<style type="text/css">

/*	.product_list_element {
		margin: 0pt;
		padding: 5pt;
	}

	.product_list_element_table{
		width: 100%;
		padding: 0pt;
		margin: 0pt;
		display: inline-flex;
	}
*/
	.table_input{
		width: 8em;
		background: #fafafa;
	}

  .sidebar {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    padding-left: 10pt;
    padding-right: 10pt;
  }
  @media (min-width:768px) {
    .sidebar {
      position: fixed;
      overflow-y: scroll;
  	max-height: calc(100% - 80px);
    }
  }

  .cat_top{
    flex: 0 0 auto;
    width: 150pt;
  }

  #filter_block{
    /* display: flex; */
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0pt;
  }

.form-tab-td{
  padding: 0px;
}

</style>


<div class="container-fluid" id="wrapper"><div class="row">


<div class="col-md-4 col-sm-12 col-12 bg-faded sidebar">
  <div>

<div class="card">
  <div class="card-body">

    <div class="card-title">
      <h5>Kategorie</h5>
      <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="search_by_category">
          <label class="form-check-label" for="search_by_category">Vyhledávat dle kategorií</label>
      </div>
      <a href="#" class="badge bg-primary" onclick="$('#category-tree').jstree('open_all')">Rozbalit vše</a>
      <a href="#" class="badge bg-primary" onclick="$('#category-tree').jstree('close_all')">Sbalit vše</a>
      <a href="#" class="badge bg-primary" onclick="$('#category-tree').jstree('select_all')">Vybrat vše</a>
      <a href="#" class="badge bg-primary" onclick="$('#category-tree').jstree('deselect_all')">Odznačit vše</a>
    </div>

    <div id="category-tree">

    </div>

  </div>
</div>



</div>

<a href="/store/component/new/" class="btn btn-success">Vytvořit součástku <i class="bi bi-plus-circle"></i></a>

<div class="card" style="">
    <h4 class="card-header">Možnosti</h4>
  	<div class="card-body">


  		    <select name="display" id="display_select" onchange="update_list()">
  		    	<option value="table">tabulka</option>
  		    	<option value="std">Standartní zobrazeni</option>
  		    </select>

  		    <div class="display_helper" id="display_helper_std">
  		    	Standartní zobrazeni nema žádná nastavení
  		    </div>

  	</div>

  </div></div>


</div> <!-- Konec levého sloupce, Pravy sloupec -->
<div class="col-md-8 offset-md-4 col-sm-12 offset-sm-0 pt-3">

<div class="card m-0">
  <div class="form-inline m-1 row">
    <button type="button" class="btn btn-success col-2" name="button" data-toggle="collapse" data-target="#filter-collapse">Filter</button>
    <input type="text" class="form-control col-10" id="filter-search" onchange="update_list()" placeholder="Vyhledavani" value="">


  </div>
  <div id="filter-collapse" class="collapse m-1 pl-1 pr-1">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" href="#nav-filter-categories">Kategorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#nav-filter-parameters">Parametry</a>
      </li>
    </ul>
    <div class="tab-content p-1">
    <div class="tab-pane fade" role="tabpanel" id="nav-filter-categories">
      Zruseno - presunuto doleva
    </div>

    <div class="tab-pane fade" role="tabpanel" id="nav-filter-parameters"> <!-- Zacatek zalozky PARAMETRY -->
      <div>
        Filtrovat podle parametru: <select class="select-component-parameters" id="select-component-parameters-filter"></select>
      </div>
      <div id="filter_tab_content"></div>
    </div> <!-- Konec zalozky PARAMETRY -->
  </div>
</div>
<div class="card m-0 mt-2">

	<div class="page_select_btn p-2">
		<button onclick="page(-1, true)" class="btn btn-primary btn-sm"> -1 </button>
		page <span class="actual_list_page"></span>
		<button onclick="page(+1, true)" class="btn btn-primary btn-sm"> +1 </button>
		<button class="btn btn-default btn-sm" onclick="update_list()">obnovit</button>
    Načteno <span id="item_count"></span> položek
	</div>
</div>
<div>

	<div class="product_list_loading">  <div class="loader"></div> </div>        	<!-- Točící se kolečko -->
	<div id="product_list"> </div>                                                <!--  TABULKA S PRODUKTY -->

  <div class="page_select_btn p-2">
    <button onclick="page(-1, true)" class="btn btn-primary btn-sm"> -1 </button>
    page <span class="actual_list_page btn-sm"></span>
    <button onclick="page(+1, true)" class="btn btn-primary btn-sm"> +1 </button>
  </div>
</div></div>


<!-- Modal - na nastaveni kategorii -->
<div id="modal_cat" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nastaveni kategorii</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            {#<button onclick="mcat_update()">Nacist seznam</button><br>#}
            <label>name (C_0805, R_power, ..)</label>
            <input type="text" name="name" id="mcat_cat_name"> <br>
            <label>name_cs</label><small>(Kondenzátor 0805, Výkonové odpory)</small><br>
            <input type="text" name="" id="mcat_cat_name_cs"> <br>
            <label>Popis</label>
            <small></small>
            <input type="text" name="" id="mcat_cat_desc"> <br>
            <label>Path</label>
            <small>Na konci i zacatku lomeno</small>
            <input type="text" name="" id="mcat_cat_path"> <br>
            <br>
            <button onclick="mcat_update_push()">update</button>
          </div>
          <div class="col-8" id="mcat_param_list" style="overflow-y: scroll; height: 70vh;">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>


                                                                          <!-- konec leveho sloupce -->
</div></div>                                                              <!-- Konec divu WRPPPER a ROW -->


{#% module Template('store/store.modal.component.edit.hbs', permis=permis, category=category) %#}
{#% module Template('store/store.modal.component.edit.scripts.hbs') %#}




<script type="text/javascript">

function load_category_tree(){
    $('#category-tree').jstree({
        'core' : {
           'data' : {
              'type': "POST",
              'url' : "/store/api/get_categories/list/?jstree=True"
            }
        },
        "plugins" : [
            "checkbox",
            "massload",
            "sort",
            "state",
            "types",
        ],
        'checkbox':{
            'whole_node': false,
        }
    });
}
load_category_tree();

</script>

<script type="text/javascript">

  function load_modal_operation(type, placeholder = null) {
    if(placeholder == null){
      $('#modal-operation-content').empty();
      $('#modal_operation').modal('show');
    }else{
      $(placeholder).empty();
      $(placeholder).show();
    }
    $.ajax({
      type: "POST",
      url: "/store/operation/"+type+"/",
      data: {
        'operation': type,
        'component': current_detail,
      },
      success: function( data, textStatus, jQxhr ){
        if(placeholder == null){
          $("#modal-operation-content").html(data);
          }else{
          $(placeholder).html(data);
        }
      },
      error: function( jqXhr, textStatus, errorThrown ){
        console.log( errorThrown );
      }
    });
  }


</script>


		<template id="products-template_std">
			<div class="card product_list_element">
				<input type="checkbox" class="product_list-select form-check-input" name="selected" value="" onchange="update_selected(this)">
				<span class="product_list-name" style="font-size: 1.2em"></span><small><span class="category_name">kategorie</span></small>
				<div><div class="product_list-description" style="float: left;">popis</div><div style="float: right;" class="stock_holder"></div></div>
			</div>
		</template>


    <template id="products-template_table">
       {% module Template('store/store.api.template.component.row.hbs') %}
    </template>

  	<template id="supplier-template">
  		<div class="col-12 card supplier_list_element m-0 mb-1">
  			<b><a class="supplier_name" target="_blank"></a></b>
  			<span class="supplier_product"></span>
  		</div>
  	</template>

    <template id="filter_tab_template">
       {% module Template('store/store.api.template.filter_tab.hbs') %}
    </template>



<script type="text/javascript">
var list_page = 0;
$(document).ready(function() {

    let barr = new barcode_reader();
    barr.addCallback('OpenArticleEdit', BC_store_OpenArticleEdit, codetype = 'ObjectId');
    barr.addCallback('load_product', BC_store_LoadProduct);



    $('#selected-category').select2({width: '100%'});
    update_list();
    var hash = location.hash.substr(1);
    if(hash.length>2){
	    load_product(hash, open = true);
	}

});

function page(value, relative=false){
	if (relative=true){
		list_page += value;
	}else{
		list_page = value;
	}
	if (list_page < 0){list_page = 0}
	update_list();
}

function select_all_products(state) {
	$('.product_list-select').prop('checked', state);
	$('.product_list-select').trigger("change");
}

function select_categories(what){
	if (what == 'all') {
		console.log('select all')
		$(".filter_cat").prop("checked", true);
	}
	if (what == 'none') {
		console.log('select none')
		$(".filter_cat").prop("checked", false);
	}
	update_list();
}

function active_categories(name = false){
	// if (name != false){
	// }else{
	// 	var list = []
	// 	var selected=$(".filter_cat:checked")
	// 	for (var i = selected.length - 1; i >= 0; i--) {
	// 		list.push(selected[i].name)
	// 	}
	// 	//console.log('selected', list)
 //    console.log("AKtivni kategorie", list);
	// 	return(list)
	// }
  var list_of_categories = $('#category-tree').jstree('get_selected');
  return list_of_categories;
}

function update_list(){
	$('.product_list_loading').show();
	$('.page_select_btn').hide();
	$('#product_list').empty();
  console.log("DATA:", active_categories());
	$.ajax({
	  type: "POST",
	  url: "/store/api/products/",
	  //contentType : 'application/json',
	  data: {
	  		'categories': active_categories(),
            'search_by_category': Number($("#search_by_category").prop('checked')),
	  		'search': $("#filter-search").val(),
	  		'polarity': $('#category_polarity').is( ":checked" ),
	  		'tag_polarity': $('#tag_polarity').is( ":checked" ),
	  		'tag_search': $("#tag-search").val(),
            'in_stock': $("#filter-instock").val(),
	  		'page': list_page
	  },
	  success: function( data, textStatus, jQxhr ){
	      console.log('/products/', data, textStatus);
        $('#item_count').html(data.count);
	      current_page = data.data;
	      update_view();
	  },
	  error: function( jqXhr, textStatus, errorThrown ){
	      console.log('ERR, /store/api/products/')
	      console.log( errorThrown );
	  }
	});
}

function update_veiw_parameters(selector){
	$('.display_helper').css('display', 'none');
	console.log(selector);
	console.log(selector.value)
	$('#display_helper_'+selector.value).css('display', 'block');
}

function update_view(){
    $('.product_list_loading').show();
    $('.page_select_btn').hide();
    $('#product_list').empty();
    for (var i = 0; i < current_page.length; i++) {
        var element = current_page[i];
        // console.log("ELEMENT", element.overview);
        active_categories()
        var tmpl = document.getElementById('products-template_'+$('#display_select').val()).content.cloneNode(true);
        tmpl.querySelector('.product_list_element').classList.add('row_of_'+element['_id'].$oid);
        tmpl.querySelector('.product_list-name').innerHTML = " <b>"+element['name'] + "</b> ";
        tmpl.querySelector('.product_list-baseinfo').innerHTML =  "("+element['barcode'] +") <small>"+ element['_id'].$oid+"</small>";
        tmpl.querySelector('.product_list-select').value = element['_id'].$oid;
        tmpl.querySelector('.product_list-description').innerText = element['description'];
        tmpl.querySelector('.product_list_copyid').setAttribute('copy', element['_id'].$oid);

        // zaskrtavatko vybaraných polozek
        if(selected.indexOf(element['_id'].$oid) >= 0){
            tmpl.querySelector('.product_list-select').checked = true;
        }

        try{tmpl.querySelector('.category_name').innerText = element['category'][0]['name'];}
        catch(err){	tmpl.querySelector('.category_name').innerText = "err";}

        var name = ""+element['_id'].$oid+"";
        // tmpl.querySelector('.product_list_element').setAttribute('onclick', 'load_product("'+element['_id'].$oid+'")');
        // tmpl.querySelector('.product_list_element').setAttribute('ondblclick', 'OpenArticleEdit("'+element['_id'].$oid+'");');
        tmpl.querySelector('.product_list_element').setAttribute('ondblclick', 'OpenArticleEdit("'+element['_id'].$oid+'");');

        if ($('#display_select').val() == 'table'){
            //try{var warehouse_count = element.overview.stocks[Cookies.get("warehouse")].count.onstock;}
            //catch(err){var warehouse_count = 0; console.log(err);}
            // console.log(warehouse_count)
            //tmpl.querySelector('.stock_count').innerHTML = "<b>"+warehouse_count +
            //          "</b><small class='text-muted'> (" + element.overview.count.onstock + ")</small>";
            if (element.tags){

              if(_.findKey(element.tags, { 'id': "inventura2020"})){
                tmpl.querySelector('.stock_count').style.background = "#94e991";
              }
            }

            //tmpl.querySelector('.stock_count').setAttribute('onchange', 'update_product_from_line("stock_count","'+element['_id'].$oid+'", this.value, "'+$('#display_sklad').val()+'")');
        }

        if(current_detail == element['_id']){
            tmpl.querySelector('.product_list_element').style.backgroundColor = 'yellow';
        }
        document.getElementById('product_list').appendChild(tmpl);
    }
    console.log(selected);
    $('.product_list_loading').hide();
    $('.page_select_btn').show();
    $('.actual_list_page').html(list_page);
}


function update_product_from_line(type, product_name, value, add1=null, add2=null){
	if(type == 'stock_count'){
		console.log("UPRAV POČET součástky", product_name, "ve skladu", add1, "na počet", value);
			$.ajax({
				type: "POST",
				url: "/store/api/update_parameter/",
				data: {'count':value,
					   'component':product_name,
					   'stock': add1
					},
				success: function( data, textStatus, jQxhr ){
					//alert('Data sucessfuly updated');
					Lobibox.notify('success', {
						title: 'Položka zaktualizována',
						msg: 'Počet skladových zásob součástky <b>'+product_name+'</b> byl zaktualizován. Ve skladu <b>' + String(add1) + '</b> na počet <b>'+String(value) + '</b> ks.',
						delay: 3000
					});
				},
				error: function( jqXhr, textStatus, errorThrown ){
					console.log( errorThrown );
					Lobibox.notify('error', {
					msg: 'Aktualizace neproběhla úspěšně: ' + errorThrown,
					icon: false,
					});
				}
			});
	}

}


function update_selected(cb){
	var index = selected.indexOf(cb.value);
	console.log("update_selected:", index);
	if (cb.checked){
		if (index == -1){
			selected.push(cb.value);
		}
	}else{
		if (index > -1){
			selected.splice(index, 1);
		}
	}
	console.log(selected);
}

function getUnitLabel(unit){
	var table = {
		"percent": ' %',
		"volt": ' V',
		"amper": 'A',
	}

	if (unit in table){
		return table[unit]
	}else{
		return ""
	}
}


function load_product(id, open = false){
	$('.product_list_element').css('background-color', 'white');
	$('.row_of_'+id.replace(/[\|&;\$%@"<>\(\)\+/, -.]/g, "")).css("background-color", "yellow");

	if (current_detail != id){
		console.log("měl bych nacit produkc s id", id);
		window.location.hash = '#'+id;

    if(open){
      OpenArticleEdit(id);
    }

		try {
			$.ajax({
				type: "POST",
				url: "/store/api/product/",
				data: {'type':'filter', 'key':'_id' ,'value': id, 'selected': active_categories(), 'polarity': $('#category_polarity').is( ":checked" ) },
				success: function( data, textStatus, jQxhr ){
          console.log('load_product>>', data);
					var element = data[0]
					product_json = element;
					//var stock = data[1]
					//console.log(stock)

					JsBarcode("#selected-barcode",element['barcode'][0], {
						format: "CODE128",
						displayValue: false,
						margin: 2
					});

					if (false){
						Lobibox.notify('warning', {
							title: 'Neznámá položka',
							msg: 'Položka s tímto ID ještě není zadána ve skladu. Pokračováním vytvoříte novou položku.',
							delay: 5000,
							icon: false
						});

						product_json = {
							'_id': id,
							'name': id,
							'stock':{},
							'price':0,
							'description':'',
							'category': [],
						}
						return 0;
					}

					$('.selected-name').text(element['_id'].$oid);
					//$('#selected-name-id').val(element['_id']);
					$('#selected-name-id').attr("placeholder", element['_id'].$oid);
					$('#selected-name-name').val(element['name']);
          $('#selected-description').val(element['description']);
          $('#selected-price_buy_avg').val(element['price_buy_avg']);
          $('#selected-price_buy_last').val(element['price_buy_last']);


					console.log("kategorie", element['category'][0]);
					$('#selected-category-name').html("("+element['category']+")");

					$('#selected-category').val(element['category']).trigger('change');


					if(element.price_sell === undefined) element['price_sell'] = null;
					$('#selected-price').val(element['price_sell']);

					$('#data-param-table > tbody').empty()
					for (var i in element['parameters']) {
						$('#data-param-table > tbody').append('<tr><td>'+i+'</td><td>'+element['parameters'][i]['value']+getUnitLabel(element['parameters'][i]['unit'])+'</td></tr>');
					}

					$('#supplier_list').empty();
					for (var i in element['supplier']){
              //var url = get_supplier_url(element['supplier'][i]);
              var full_url = element['supplier'][i].full_url;
						  var tmpl = document.getElementById('supplier-template').content.cloneNode(true);
              if(full_url != null) tmpl.querySelector('.supplier_name').href = full_url;
			  			tmpl.querySelector('.supplier_product').innerText = element['supplier'][i]['symbol'];
			  			tmpl.querySelector('.supplier_name').innerText = element['supplier'][i]['supplier'];
						  document.getElementById('supplier_list').append(tmpl);
					}


					$('#stock_bilance').empty();
					//for (var i in stock){
					//	document.getElementById('stock_bilance').append('<div>'+stock[i]+'</div>');
					//}

					try{
						$('#bilance_count_sob01').val(element['stock']['sob01']['count']);
						$('#bilance_count_sob01_old').text(element['stock']['sob01']['count']);
					}
					catch(e){
						$('#bilance_count_sob01').val(null);
						$('#bilance_count_sob01_old').text('');
					}

					try{
						$('#bilance_count_pha01').val(element['stock']['pha01']['count']);
						$('#bilance_count_pha01_old').text(element['stock']['pha01']['count']);
					}
					catch(e){
						$('#bilance_count_pha01').val(null);
						$('#bilance_count_pha01_old').text('');
					}

					$('#selected-tags').empty()
					if(element.tags === undefined) element['tags']={};
					for(var i in element.tags){
            var tag = element.tags[i];
						document.getElementById('selected-tags').innerHTML += '<span class="badge bg-pill bg-primary">'+tag.id || 'err'+'</span>';
					}


				},
				error: function( jqXhr, textStatus, errorThrown ){
					console.log( errorThrown );
					Lobibox.notify('error', {
					msg: 'Načtení položky neproběhlo úspěšně: ' + errorThrown,
					icon: false,
					});
				}
			});
			current_detail = id;
		}catch(err){
			alert("načítání se nezdařilo. Pro více informací navštivte konzoli... :-( Omlouvám se...");
		}
	}else{ // pokud je tato polozka otevrena v detailu
		console.log('Tato polozka je prave zobrazena.')
	}
}


function update_product(name, element = null, type = null){
	if (name == 'price'){
		product_json['price'] = $('#selected-price').val();
	}


	if (name == 'save'){
		console.log(product_json);
		$.ajax({
			type: "POST",
			url: "/store/api/update_product/",
			data: {json: JSON.stringify(product_json)},
			success: function( data, textStatus, jQxhr ){
				console.log(textStatus);
				Lobibox.notify('success', {
					msg: 'Polozka uspesne ulozena: ' + textStatus,
					icon: false,
				});
			},
			error: function( jqXhr, textStatus, errorThrown ){
				console.log( errorThrown );
				Lobibox.notify('error', {
					msg: 'Ukladani nove polozky nebylo uspesne: ' + errorThrown,
					icon: false,
				});
			}
		});
	}

	if (name == 'stock_bilance'){
		if(product_json.stock === undefined) {product_json['stock'] = {}}
		console.log("JE to číslo?", !Number.isNaN(Number(element.value)))
		if(!Number.isNaN(Number(element.value))){
			product_json['stock'][type] = {'count': element.value};
			if ($('#selected_advance_function').val() == 'inventura'){
				$('#selected-name-id').focus();
				product_json['tags']['inventura2018']={}
				update_product('save');
			}
		}else{
			Lobibox.notify('error', {
				msg: 'Skladový počet není číslo!',
				icon: false,
			});
			return(true);
		}
	}

	if (name=='description'){
		product_json['description'] = $('#selected-description').val();
	}

	if (name=='name'){
		product_json['name'] = $('#selected-name-name').val();
	}

	if (name=='id'){
		load_product($('#selected-name-id').val());
		$('#selected-name-id').attr("placeholder", $('#selected-name-id').val());
		$('#selected-name-id').val('');
		$('#selected-name-id').trigger(':reset');

		if ($('#selected_advance_function').val() == 'inventura'){
			$('#bilance_count_pha01').focus().select();
		}
	}

	if (name=='category'){
		product_json['category'] = [element.value];
	}

	console.log(product_json);
}

function preparePrint(){
	var str = "/store/print/?"+jQuery.param(
		{
			'type': $("#print_type").val(),
			'skip': $('#print_skip').val(),
			'multiply': $('#print_multiply').val(),
			'template':$('#print_template').val(),
			'action': selected
		});
	window.open(str,'_blank');
}

$('#inputID_edit').change(function(){
  OpenArticleEdit($('#inputID_edit').val(), false, false);
})

// Tahle funkce pri zmacknuti enteru spusti onchange spoustec
function call_change(event, element) {
	console.log(event);
	if (event.keyCode == 13){
		element.onchange();
	}
}




// Slouzi k vyhledani seznamu parametru pro vyhledavani polozek
$('.select-component-parameters').select2({
  ajax: {
    url: '/store/api/get_parameters/list/',
    dataType: 'json',
    delay: 500,
    type: "POST",
    processResults: function (data) {
      console.log(data.items)
      return {
          results: $.map(data.items, function (item) {
              console.log(item);
              return {
                  text: item.lang.cs + "  ("+item.name+") ["+item.unit+"]",
                  name: item.name,
                  id: item.name
              }
          })
      };
    }
  }
});

$('#select-component-parameters-filter').on('select2:select', function (e) {
    var data = e.params.data;
    console.log("Pridavam novy filter", data);
    var t = document.querySelector('#filter_tab_template');

    t.content.querySelector('.filter_tab_name').innerHTML = data.text;
    $("#filter_tab_content").append(document.importNode(t.content, true));
});


// Pouzito v modalu editace polozky
function copyIdToClipoboard(){
  var textove_pole = document.getElementById("inputID_edit");
  textove_pole.select();
  textove_pole.setSelectionRange(0, 99999);
  document.execCommand("copy");
}

</script>
{% end %}
