{% extends "base.hbs" %}
{% block title %} | Docházka a výplaty {%end%}
{% block body %}

<script src="https://unpkg.com/moment@2.24.0/moment.js"></script>
<script src="https://unpkg.com/moment@2.24.0/locale/cs.js"></script>

<style>
    body {
        overflow: hidden;
        height: 100%;
    }

    #body {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .title-bar {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .right-buttons {
        float: right;
    }

    .table-icon {
        line-height: 0;
    }

    #month-table-month-span {
        text-transform: capitalize;
    }

    h2.collapse-toggle {
        user-select: none;
        cursor: pointer;
    }

    .collapsible {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .tabulator {
        user-select: none;
    }
</style>

<div class="container">
    <div class="row">
        <h1>Docházka a výplaty</h1>
    </div>

    <div class="row">
        <div class="col col-12">
            <h2 class="collapse-toggle" onclick="toggleCollapseTarget('#wages-collapse')">
                Správa výplat
            </h2>
            <div id="wages-collapse" class="collapsible">
                <button type="button" class="btn btn-primary" onclick="generateAccountantReport()">
                    Vygenerovat report pro účetní
                </button>
                <button type="button" class="btn btn-primary" onclick="generateHoursWorkedReports()">
                    Vygenerovat reporty odpracovaných hodin
                </button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <h2 class="collapse-toggle" onclick="toggleCollapseTarget('#month-table-collapse')">
                Měsíční přehled
            </h2>
            <div id="month-table-collapse" class="collapsible">
                <div class="title-bar">
                    <div class="right-buttons">
                        <button type="button" class="btn btn-light" onclick="showAttendance()">
                            Zobrazit docházku
                        </button>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-light" onclick="previousMonth()">
                                Předchozí měsíc
                            </button>
                            <button type="button" class="btn btn-light" onclick="nextMonth()">
                                Následující měsíc
                            </button>
                        </div>
                    </div>
                    <h4>
                        <span id="month-table-month-span"></span>
                        <span id="month-table-year-span"></span>
                    </h4>
                </div>

                <div id="month-table"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <h2 class="collapse-toggle" onclick="toggleCollapseTarget('#year-table-collapse')">
                Roční přehled
            </h2>
            <div id="year-table-collapse" class="collapsible">
                <div class="title-bar">
                    <div class="btn-group right-buttons" role="group">
                        <button type="button" class="btn btn-light" onclick="previousYear()">Předchozí rok</button>
                        <button type="button" class="btn btn-light" onclick="nextYear()">Následující rok</button>
                    </div>
                    <h4>Rok <span id="year-table-year-span"></span></h4>
                </div>
                <div id="year-table"></div>
            </div>
        </div>
    </div>
</div>


<script>
    let monthDate = moment().startOf("month");
    let yearDate = moment().startOf("year");

    $(document).ready(() => {
        $("#wages-collapse").hide();
        $("#year-table-collapse").hide();

        updateMonthDateSpans();
        updateYearDateSpan();
        updateMonthTable(true);
        updateYearTable(true);

        document.addEventListener("visibilitychange", () => {
            console.log("visibilitychange");
            if (!document.hidden) {
                console.log("visible");
                updateMonthTable();
                updateYearTable();
            }
        }, false);
    });


    let monthTable = new Tabulator("#month-table", {
        height: 600,
        selectable: 1,
        layout: "fitDataFill",
        columns: [
            {
                title: "Příjmení",
                field: "name.surname",
                frozen: true,
                width: 150,
                topCalc: function (values, data, calcParams) {
                    return "Celkem";
                }
            },
            {
                field: "id",
                visible: false
            },
            {
                title: "Jméno",
                field: "name.first_name"
            },
            {
                title: "Odpracované<br>hodiny",
                field: "hours_worked",
                topCalc: "sum",
            },
            {
                title: "Hodinová<br>mzda",
                field: "hour_rate",
            },
            {
                title: "Měsíc<br>uzavřen",
                field: "month_closed",
                formatter: "tickCross",
                align: "center",
                cellDblClick: monthClosedDblClickHandler,
            },
            {
                title: "Hrubá<br>mzda",
                field: "gross_wage",
                topCalc: "sum",
            },
            {
                title: "Daň",
                field: "tax_amount",
                topCalc: "sum",
            },
            {
                title: "Čistá<br>mzda",
                field: "net_wage",
                topCalc: "sum",
            },
            {
                title: "Zaplatit",
                formatter: function (cell, formatterParams, onRendered) {
                    return "<span class='material-icons table-icon'>payment</span>"
                },
                align: "center",
                cellDblClick: function (e, cell) {
                    alert(`click on ${cell.getRow().getIndex()}`)
                }
            },
            {
                title: "Report",
                field: "report",
                formatter: function (cell, formatterParams, onRendered) {
                    if (cell.getValue()) {
                        return "<span class='material-icons table-icon'>cloud_download</span>"
                    } else {
                        return "<span class='material-icons table-icon'>build</span>"
                    }
                },
                align: "center",
                cellDblClick: function (e, cell) {
                    if (cell.getValue()) {
                        window.open(cell.getValue(), "_blank");
                    } else {
                        let result = confirm("Generovat report hodin uživatele?");

                        if (result) {
                            generateUserHoursWorkedReport(cell.getRow().getIndex());
                        }
                    }
                },
            }
        ]
    });

    function monthClosedDblClickHandler(e, cell) {
        const monthClosed = cell.getValue();
        const buttonCaption = monthClosed ? "Otevřít měsíc" : "Uzavřít měsíc";

        const baseLink = `/attendance/api/u/${cell.getRow().getIndex()}/`;
        const targetLink = monthClosed ? "reopen_month" : "close_month";

        const fullLink = baseLink + targetLink;

        Lobibox.alert('info', {
            msg: 'Zvolte akci:',
            buttons: {
                close_reopen_month: {
                    class: "btn",
                    text: buttonCaption,
                    closeOnClick: true,
                },
                close: {
                    class: "btn",
                    text: "Zrušit",
                    closeOnClick: true,
                }
            },
            callback: function (lobibox, type) {
                if (type === "close_reopen_month") {
                    $.ajax({
                        url: fullLink,
                        type: "post",
                        data: monthDate.format("YYYY-MM-DD"),
                        success: function (response) {
                            cell.getTable().setData();
                            console.log(response);
                        },
                        error: ajaxError,
                    });
                }
            }
        });
    }

    let yearTable = new Tabulator("#year-table", {
        layout: "fitDataFill",
        height: 600,
        columns: [
            {
                title: "Příjmení",
                field: "name.surname",
                frozen: true,
                width: 150,
                topCalc: function (values, data, calcParams) {
                    return "Celkem";
                }
            },
            {
                field: "id",
                visible: false,
            },
            {
                title: "Jméno",
                field: "name.first_name"
            },
            {
                title: "Odpracované hodiny",
                field: "hours_worked",
                topCalc: "sum",
            },
            {
                title: "Hodinová mzda",
                field: "hour_rate",
            },
            {
                title: "Hrubá mzda",
                field: "gross_wage",
                topCalc: "sum",
            },
            {
                title: "Daň",
                field: "tax_amount",
                topCalc: "sum",
            },
            {
                title: "Čistá mzda",
                field: "net_wage",
                topCalc: "sum",
            }
        ]
    });

    function updateMonthDateSpans() {
        let month_table_month_span = document.getElementById("month-table-month-span");
        let month_table_year_span = document.getElementById("month-table-year-span");

        month_table_month_span.innerHTML = monthDate.format("MMMM");
        month_table_year_span.innerHTML = monthDate.format("YYYY");
    }

    function updateYearDateSpan() {
        let year_table_year_span = document.getElementById("year-table-year-span");

        year_table_year_span.innerHTML = yearDate.format("YYYY");
    }

    function nextMonth() {
        showMonth(monthDate.add(1, "months"));
    }

    function previousMonth() {
        showMonth(monthDate.subtract(1, "months"));
    }

    function showMonth(month) {
        monthDate = moment(month).startOf("month");
        updateMonthDateSpans();
        console.log(monthDate.format());
        updateMonthTable();
    }

    function nextYear() {
        yearDate.add(1, "years");
        updateYearDateSpan();
        console.log(yearDate.format());
        updateYearTable();
    }

    function previousYear() {
        yearDate.subtract(1, "years");
        updateYearDateSpan();
        console.log(yearDate.format());
        updateYearTable();
    }

    function updateMonthTable(updateHidden = false) {
        if (updateHidden || $(monthTable.element).is(":visible")) {
            monthTable.setData(`/attendance/api/month_table/date/${monthDate.format("YYYY-MM-DD")}`);
            console.log("Updating monthTable");
        }
    }

    function updateYearTable(updateHidden = false) {
        if (updateHidden || $(yearTable.element).is(":visible")) {
            yearTable.setData(`/attendance/api/year_table/date/${yearDate.format("YYYY-MM-DD")}`);
            console.log("Updating yearTable");
        }
    }

    function showAttendance() {
        const selectedRows = monthTable.getSelectedRows();

        if (!selectedRows.length) return;

        const selectedIndex = selectedRows[0].getIndex();
        const url = `attendance/u/${selectedIndex}/date/${monthDate.format("YYYY-MM-DD")}`;
        window.open(url, "_blank");
    }

    function toggleCollapseTarget(target) {
        $(target).toggle();
    }

    function generateAccountantReport() {
        const lastMonth = moment().subtract(1, "months").startOf("month").format("YYYY-MM-DD");

        let result = confirm("Generovat report pro účetní pro měsíc " + lastMonth + "?");

        if (result) {
            $.ajax({
                url: "/attendance/api/reports/accountant/generate",
                type: "post",
                data: lastMonth,
                success: function (response) {
                    alert("Podařilo se!");
                    console.log(response);
                    showMonth(lastMonth);
                },
                error: ajaxError,
            });
        }
    }

    function generateHoursWorkedReports() {
        const lastMonth = moment().subtract(1, "months").startOf("month").format("YYYY-MM-DD");

        let result = confirm("Generovat reporty hodin uživatelů pro měsíc " + lastMonth + "?");

        if (result) {
            $.ajax({
                url: "/attendance/api/reports/hours_worked/generate",
                type: "post",
                data: lastMonth,
                success: function (response) {
                    alert("Podařilo se!");
                    console.log(response);
                    showMonth(lastMonth);
                },
                error: ajaxError,
            });
        }
    }

    function generateUserHoursWorkedReport(userId) {
        $.ajax({
            url: `/attendance/api/u/${userId}/generate_hours_worked_report`,
            type: "post",
            data: monthDate.format("YYYY-MM-DD"),
            success: function (response) {
                alert("Podařilo se!");
                console.log(response);
                updateMonthTable();
            },
            error: ajaxError,
        });
    }

    function ajaxError(jqXHR, textStatus, errorThrown) {
        let legibleError = decodeURIComponent(escape(errorThrown));
        console.log(textStatus, legibleError);
        Lobibox.alert("error", {msg: legibleError, title: "Chyba"})
    }
</script>

{% end %}{# block body#}