{% extends "base.hbs" %}
{% block title %} | Adresář{%end%}
{% block body %}

<div class="container h-100">

<h1> Tistk štítků </h1>


<div class="list-group">
  <a href="/labels/packet" class="list-group-item list-group-item-action">Štítky sáčků</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Štítky pozic</a>
  <a href="#" class="list-group-item list-group-item-action disabled"> Zatím neznámý typ štítku</a>
  <a href="#" class="list-group-item list-group-item-action disabled"> Zatím neznámý typ štítku</a>
  <a href="#" class="list-group-item list-group-item-action disabled"> Zatím neznámý typ štítku</a>
</div>

</div>




{% end %}{# block body#}
