{% extends "base.hbs" %}
{% block title %} | Adresář{%end%}
{% block body %}
<script src="/static/jsrender/jsrender.min.js"></script>

<script>
$(document).on('mouseover','.openintranet_hover_component',function(){
    // $(this).css({'border':'1px solid #000'});
    console.log($(this));
});



$(".openintranet_hover").popover({
    trigger : 'click',
    placement : 'top',
    html: 'true',
    content : '<textarea class="popover-textarea"></textarea>',
    template: '<div class="popover"><div class="arrow"></div>'+
              '<h3 class="popover-title"></h3><div class="popover-content">'+
              '</div><div class="popover-footer"><button type="button" class="btn btn-primary popover-submit">'+
              '<i class="icon-ok icon-white"></i></button>&nbsp;'+
              '<button type="button" class="btn btn-default popover-cancel">'+
              '<i class="icon-remove"></i></button></div></div>'
})
.on('shown', function() {
    //hide any visible comment-popover
    $("[rel=comments]").not(this).popover('hide');
    var $this = $(this);
    //attach link text
    $('.popover-textarea').val($this.text()).focus();
    //close on cancel
    $('.popover-cancel').click(function() {
        $this.popover('hide');
    });
    //update link text on submit
    $('.popover-submit').click(function() {
        $this.text($('.popover-textarea').val());
        $this.popover('hide');
    });
});


</script>


<div class="container h-100">
<h1> Tistk štítků </h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Filtr</h5>

    <ul>
      <li>Vyhledávání v názvu
      <li>Autor skupiny (primárně zobrazovat moje, veřejné/sdíleno se mnou, všichni, uživatel 1, uživatel 2 - od třetí položky to bude vyžadovat vyšší práva)
      <li>Datum - od do
      <li>Skrýt vytištěné
      <li>tagy?
      </ul>

      <div>
        <span class="action-print btn btn-sm btn-primary">Tisk</span>
      </div>
  </div>
</div>


  <div id="group_list">
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
  </div>
</div>
<script>
$.ajax('/labels/get_grouped_labels', {
  type: 'GET',
  //data: { 'packet': id },
  success: function (data, status, xhr) {
    $("#group_list").empty();
    $("#group_list").html(data);
  },
  error: function (jqXhr, textStatus, errorMessage) { }
});

$('.do-collapse').on('click', function(e){
    console.log("click", e);
})

$('.action-print').on("click", function(){
  var checked = $(".label_groups_chbx:checked").map( function() { return $(this).val() }).get();
  console.log(checked);

  let url = 'labels/print?'; // parametr n je zde z d
  checked.forEach((x, i) => {
    if(i != 0){ url += "&"; }
      url += 'group[]='+x;
  });
  window.open(url, '_blank');

});


</script>

{% end %}{# block body#}
