{% extends "base.hbs" %}
{% block title %} | Produkce, uvod{% end %}
{% block body %}

<nav style="margin: 0.5rem;" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="./../../..">Home</a></li>
    <li class="breadcrumb-item"><a href="./../..">Production</a></li>
  </ol>
</nav>

<div class="container">

<a href="/production/new/edit/" class="btn btn-sm btn-primary">Nový produkt</a>
<div>
	<div class="row">
		<div class="col-12">
			<div id="production-list-table" class="table table-sm"></div>
		</div>
		<div class="col-6">

		</div>
	</div>
</div>

</div>

<script type="text/javascript">

function loadProductionTable() {
	var table = new Tabulator("#production-list-table", {
		width: '100%',
        initialSort:[
            {column:"id", dir:"desc"}, //sort by this first
        ],
		columns:[
	        {title:"ID", field:"id", width:100},
	        {title:"Name", field:"name", sorter:"string"},
	        {title:"Autor", field:"author_text", sorter:"string"},
	        {title:"Components", field:"components", sorter:"number", align:"right", width:100},
	        {title:"Created", field:"created", sorter:"date", align:"center"},
	        //{title:"status", field:"status", sorter:"string", align:"center"},
	    ],
	    rowClick:function(e, row){
	    	var event_id = row._row.cells[0].value
	    	stocktakingLoadEvent(event_id);
	    },
	    rowDblClick:function(e, row){
	    	var event_id = row._row.cells[0].value
	    	window.location.href = "/production/"+event_id+"/edit/";
	    },
	    ajaxURL:"/production/api/getProductionList",
	    ajaxConfig:{
	        method:"POST",
	        headers: {
	            "Content-type": 'application/json; charset=utf-8',
	        },
	    }
	});
}


loadProductionTable();

</script>

{% end %}
